@model KeenaKaata.Models.Home.HomeIndexViewModel
@using PagedList;
@using PagedList.Mvc;



@{
    ViewBag.Title = "Home Page";
}


<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height:380px;width:100%" src="../Images/phn2.jpg" alt="First slide">
            <div class="carousel-caption">
                <h3>New</h3>

            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:380px;width:100%" src="../Images/phn3.png" alt="Second slide">
            <div class="carousel-caption">
                <h3>My Phone</h3>

            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:380px;width:100%" src="../Images/phn4.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h3>Latest</h3>

            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>

</div>
@*
        <div class="olContent f1"><h2 style="color:black"></h2></div>
    <form method="post">
        <div class="olSearch fr">
            <input type="text" name="search" placeholder="Enter Keyword" class="inputComn houseText form-control" style="height:43.5px;" />
            <div class="searchIcon">
                <button type="submit" class="searchBtn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>


        </div>
    </form>
*@
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Populer Brands <small>trendy Brands</small></h2>
        </div>
    </div>
</div>

<div class="row product-container">
    <div class="col-md-3 col-sm-3 col-xs-4" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:250px;width:100%">
            <a href="@Url.Action("BrandProduct","Home", new { search = "Samsung"})">
                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer;height:120px;width:80%"
                     src="~/Images/smlogo.png" />
                </a>
                <div class="caption">
                    <h5>Samsung</h5>
                    <p>Most leading brand in Technology field </p>
                </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-4" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:250px;width:100%">
            <a href="@Url.Action("BrandProduct","Home", new { search = "Dell"})">
                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer;height:120px;width:80%"
                     src="~/Images/delllogo.jpg" />
                </a>
                <div class="caption">
                    <h5>Dell</h5>
                    <p>Most leading brand in Technology field</p>
                </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-4" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:250px;width:100%">
            <a href="@Url.Action("BrandProduct","Home", new { search = "Apple"})">
                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer;height:120px;width:80%"
                     src="~/Images/applelogo.png" />
                </a>
                <div class="caption">
                    <h5>Apple</h5>
                    <p>Most leading brand in Technology field</p>
                </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-4" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:250px;width:100%">
            <a href="@Url.Action("BrandProduct","Home", new { search = "Estasy"})">
                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer;height:120px;width:80%"
                     src="~/Images/estasylogo.png" />
                </a>
                <div class="caption">
                    <h5>Estasy</h5>
                    <p>Most leading brand in Clothing field</p>
                </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-4" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:250px;width:100%">
            <a href="@Url.Action("BrandProduct","Home", new { search = "Richman"})">
                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer;height:120px;width:80%"
                     src="~/Images/richmanlogo.png" />
                </a>
                <div class="caption">
                    <h5>Richman</h5>
                    <p>Most leading brand in Clothing field</p>
                </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-4" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:250px;width:100%">
            <a href="@Url.Action("BrandProduct","Home", new { search = "Arrong"})">
                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer;height:120px;width:80%"
                     src="~/Images/aronglogo.png" />
                </a>
                <div class="caption">
                    <h5>Arrong</h5>
                    <p>Most leading brand in Technology field</p>
                </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-4" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:250px;width:100%">
            <a href="@Url.Action("BrandProduct","Home", new { search = "Adidas"})">
                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer;height:120px;width:80%"
                     src="~/Images/adidaslogo.png" />
                </a>
                <div class="caption">
                    <h5>Adidas</h5>
                    <p>Most leading brand in foot wear field</p>
                </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-4" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:250px;width:100%">
            <a href="@Url.Action("BrandProduct","Home", new { search = "Asus"})">
                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer;height:120px;width:80%"
                     src="~/Images/asuslogo.png" />
                </a>
                <div class="caption">
                    <h5>ASUS</h5>
                    <p>Most leading brand in Technology field</p>
                </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Populer Products <small>Random products</small></h2>
        </div>
    </div>
</div>

    <div class="row product-container">
        @foreach (var item in Model.ListOfProducts)
        {
            <div class="col-md-3 col-sm-3 col-xs-4" style="margin-bottom:8px">
                <div class="thumbnail product-item" style="height:250px;width:100%">

                    <img class="img-responsive" title="Click to View Product detail"
                         style="cursor:pointer;height:120px;width:80%"
                         src="../Product/@item.ProductImage" />

                    <div class="caption">
                        <h5> @item.ProductName</h5>
                        <p>@item.Price ৳.</p>

                        @if (item.Quantity > 0)
                        {
                            using (Html.BeginForm("AddCart", "Home", new { productId = item.ProductId }, FormMethod.Post))
                            {
                                <button type="submit" class="pull-right"><i class="a fa-shopping-cart"></i></button>
                            }

                            <p>Available</p>
                        }

                        else
                        {
                            <p>Not Available</p>
                        }

                        <div class="product-item-badge">
                            @if (item.IsFeatured == true)
                            {
                                <p>New</p>
                            }
                            else
                            {
                                <p>Old</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>  
    <div class="container">
        @Html.PagedListPager(Model.ListOfProducts, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true })
    </div>
